@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

.li{

    border-bottom: 6px solid;
    
    
}
.logo{ text-align: left;}
h1{

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    line-height: 5px;
    font-size: 20px;
    margin-bottom: 20px;

}

p{
    line-height: 0px;
    margin-left: 30px;
    margin-top: 20px;

}


#hp {
    
   float: right;
   margin: 0 0 0 50px;
   background-color:#F6B400 ;
   
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  em {
    color: #F6B400;
   
  }