

.header{
  background: linear-gradient(120deg, #fff 48%, #F6B400 48%); 
    height: 45rem;
}

.logo{
  flex-direction: column-reverse;
  display: flex;
}


html{ 
  overflow-x: hidden;
  margin:0px;
  font-family: 'Poppins';
  }

  
nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

ul{
  list-style-type: none;
}
li a{
  color: #000;
  font-weight: bolder;
}

}
.nav{
  display: flex;
  float: left;
}

.navigation{
  float: left;
  width: 65%;
  justify-content: inherit;
  display: flex;
  padding-right: 3%;
}
.logo{
  text-decoration: none;
  columns:#000 ;
  font-weight: bold;
  font-size: 1;

}

.logo1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo2{
  height: 2rem;
}

.head{
  font-weight: bold;
  color: #000;
  font-size: 1.8rem;
}

.end{
  color: #f6b400;
}

.hero{
  height: 28rem;
  display: flex;
  flex-direction: row;
}

.mtx{
  padding-left: 6%;
  padding-top: 14%;
  width: 100%;

}

.image.bg{
  position: relative;

}

.ad{
  position: relative;
  height: 40rem;
  left: -10%;
}

.heading{
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-weight: 800;
}

.subheading{
  font-size: 1.3rem;
  margin-bottom:1.8rem ;
  color: black;
  font-weight: 700;
}

.Order-button{
 padding: 2.8%;
 border-bottom-left-radius: 9px;
 width: fit-content;
 border-top-right-radius:9px ;
 border-top-left-radius:9px ;
 background-color: #f6b400;
}

.intro{

  
    flex-direction: row;
    background-color: #e1ebe6;
    height: 51rem;
    display: flex;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 18%;
}


.item-intro{
  
  border: 1px solid white;
  border-radius: 9px;
  height: 38%;
  padding-top: 8%;
  width: 25%;
  text-align: center;
  align-items: center;
  
}

.item-intro2{
height: 48%;

}

.ad1{
  height: 2.5rem;
}


.services{

   
    flex-direction: column;
    height: 51rem;
    position: relative;
    margin-top: 8rem;
    margin-bottom: 29%;
    display: flex;
    background-color: #e1ebe6;
    align-items: center;
    justify-content: space-around;
}

.bell{
 text-align: center;

}

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.bell-items{
  width: 27%;
  border-radius: 23px;
  height: 48%;
  box-shadow: #e1ebe6 0px 4.8px 17px;
  text-align: center;
  align-items: center;
  padding-top: 4.6%;
  margin-bottom: 2.9%;
 
}

.imageone{
  height: 9rem;
}

.button{
    
    justify-content: space-between;
    padding-left: 4.8%;
    display: flex;
    flex-direction: row;
    padding-right: 4,8%;
}

.options{
  display: flex;
  background-color: #edf5f1;
  height: 30rem;
  justify-content: center;
  position: relative;
  flex-direction: row;
  align-items: center;
  

}


.bg-title{
  font-size: 2.2rem;
}

.title-bottom{
  columns: #f6b400;
  margin-top:auto;
}


.bg-image{
  height: 75%;
}

.dot{
  
  display: inline-block;
  width: 13px;
  background-color: #F6B400;
  margin-top: 48%;
  height: 13px;
  border-radius: 48%;
  
}

.add{
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #F6B400;
  margin-top: auto;
  justify-content: space-around;
  height: 40rem;
  position: relative;
  
}

.advert-ad{
  padding-left: 25%;
}

.big{

  font-weight: bold;
  font-size: 2.5rem;

}

.ad-app{
  width: 30rem;

}

.apps{
  height: 40rem;
}

.cat{
  background-color: #E1EBE6;
  padding:1.8%;
 
}

.foot-footer{
  display: flex;
    flex-direction: row;
    padding-top: 4.6%;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.6%;
    padding-right: 4.6%;
    background-color: #e1ebe6;
   
}


.sub{
  width:40%;
}


.subscriba{
  margin-top: 1.3rem;
  display: flex;
}


.mail{
  font-weight: bold;
  height: 2rem;
  
}

.sfx{
  padding: 5px 10px;
  text-align: center;
  display: table-cell;
  font-weight: bold;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  color: #e1ebe6;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F6B400;
  border: 1px solid #F6B400;
  width: 30%;
  
  
}


.btm{
  background-color: #e1ebe6;
  display: flex;
  justify-content: space-between;
  padding-left: 3.9%;
  padding-right: 3.9%;
  flex-direction: row;

}


